.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submitButton {
  width: 40%;
  margin: 2rem auto;
}

@media (max-width: 1024px) {
  .mainContainer {
    width: 100%;
    padding-inline: 2rem;
  }
}
