* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: 'Shantell Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  & > main {
    /* width: fit-content; */
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

ul {
  padding-inline: 0;
  margin-block: 0;
  list-style: none;
}

input {
  padding: 0.5rem 0.25rem;
  margin: 0 0 0.5rem;
  border: none;
  border-bottom: 1px solid CanvasText;
  font-family: inherit;
  font-size: 1rem;

  &::placeholder {
    color: CanvasText;
    opacity: 0.5;
  }

  &:focus-visible {
    outline-color: CanvasText;
  }
}

textarea {
  padding: 0.5rem 0.25rem;
  margin: 0;
  border: none;
  border-bottom: 1px solid CanvasText;
  font-family: inherit;
  font-size: 1rem;
  resize: none;

  &:focus-visible {
    outline-color: CanvasText;
  }
}

button {
  cursor: pointer;
  font-family: inherit;

  &:focus-visible {
    outline-color: CanvasText;
  }
}
