* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Shantell Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  & > main {
    width: fit-content;
    height: 100%;
    padding: 0 8vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid CanvasText;
    border-right: 1px solid CanvasText;
  }
}

ul {
  padding-inline: 0;
  margin-block: 0;
  list-style: none;
}