.listResultsContainer {
  margin: 0 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

@media (max-width: 1024px) {
  .listResultsContainer {
    width: 100%;
  }
}
