.sidebarContainer {
  width: 32%;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: Canvas;
  border: 1px solid CanvasText;
}

.sidebarTitle {
  margin: 0 0 2rem;
}

@media (max-width: 1024px) {
  .sidebarContainer {
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: normal;
    flex-wrap: wrap;
    border: none;
    border-bottom: 1px solid CanvasText;
  }
}
