.addPostForm {
  width: 60vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid CanvasText;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
}

.addPostButton {
  margin: 0 0 0 auto;
}

.addPostFormHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.addPostImage {
  width: 2.5rem;
  height: 2.5rem;
  background-color: CanvasText;
  border-radius: 50%;
}

.addPostUsernameInput {
  width: 40%;
  margin: 0;
}

@media (max-width: 1024px) {
  .addPostForm {
    width: 100%;
  }

  .addPostButton {
    width: auto;
  }
}
