:root {
  --light-grey: #282828;
  --grey: #383838;
  --heavy-grey: #484848;
}

.skeletonCard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid CanvasText;
  border-radius: 0.25rem;
  padding: 2rem 1.5rem;
  background-color: var(--light-grey);
  animation: skeleton-loading 1.2s infinite ease-in-out;
}

.skeletonHeader,
.skeletonContent,
.skeletonFooter {
  display: flex;
  align-items: center;
}

.skeletonAvatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--grey);
}

.skeletonUsername {
  width: 6rem;
  height: 1.5rem;
  margin-left: 1rem;
  background-color: var(--grey);
}

.skeletonContent {
  height: 5rem;
  background-color: var(--grey);
}

.skeletonFooter {
  justify-content: flex-start;
}

.skeletonButton {
  width: 4rem;
  height: 1.5rem;
  background-color: var(--grey);
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--grey);
  }
  50% {
    background-color: var(--heavy-grey);
  }
  100% {
    background-color: var(--grey);
  }
}
