/* Mover a estilos generales desde aca */
.normal {
  border-color: transparent;
}

.outline {
  border-color: currentcolor;
}

.link {
  transition: filter 0.125s;

  &:hover {
    filter: brightness(0.875);
  }
  &:active {
    filter: brightness(1.125);
  }
  &:focus {
    outline-color: CanvasText;
  }
}

.sm {
  padding: 0.25rem;
  font-size: 0.875rem;
}

.md {
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.lg {
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-size: 1.125rem;
}

.primary {
  color: CanvasText;
  background-color: buttonface;
}

.success {
  background-color: limegreen;
}

.error {
  background-color: tomato;
}

.warning {
  background-color: orange;
}

.info {
  background-color: dodgerblue;
}

.primary.link {
  background-color: transparent;
}

.success.link {
  color: limegreen;
  background-color: transparent;
}

.error.link {
  color: tomato;
  background-color: transparent;
}

.warning.link {
  color: orange;
  background-color: transparent;
}

.info.link {
  color: dodgerblue;
  background-color: transparent;
}

.mxcontent {
  width: max-content;
}

.large {
  width: 20%;
}

.xlarge {
  width: 40%;
}

.full {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .success {
    background-color: forestgreen;
  }

  .error {
    background-color: brown;
  }

  .warning {
    background-color: chocolate;
  }

  .info {
    background-color: steelblue;
  }

  .success.link {
    color: forestgreen;
    background-color: transparent;
  }

  .error.link {
    color: brown;
    background-color: transparent;
  }

  .warning.link {
    color: chocolate;
    background-color: transparent;
  }

  .info.link {
    color: steelblue;
    background-color: transparent;
  }
}
/* Mover a estilos generales hasta aca */
