header {
  width: 100%;
  /* margin: 0 0 2rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid CanvasText;
}

.heading {
  margin: 1rem 0 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.appLogo {
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
}

.appDescription {
  margin: 0 0 2rem;
}

.profile {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p > span {
  font-weight: 700;
}

.navLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  & > a {
    & > button {
      width: 100%;
      text-align: left;
    }
  }
}

/* Podrian pasar a ser estilos default de un a */
.navLink {
  padding: 0.5rem;
  background-color: buttonface !important;
  border: 1px solid currentcolor;
  border-radius: 0.25rem;
  color: CanvasText;
  text-decoration: none;
  transition: filter 0.125s;

  &:hover {
    filter: brightness(0.875);
  }
  &:active {
    filter: brightness(1.125);
  }
  &:focus {
    outline-color: CanvasText;
  }
}

@media (prefers-color-scheme: dark) {
  .navLink {
    &:hover {
      filter: brightness(1.125);
    }
    &:active {
      filter: brightness(0.875);
    }
    &:disabled {
      filter: none;
    }
  }
}
