.inputContainer {
  width: 40%;
  height: max-content;
  position: relative;
}

label {
  padding: 0.25rem;
  /* border: 1px solid red; */
  position: absolute;
  top: -40%;
  left: 2%;
  background-color: Canvas;
  font-size: 0.875rem;
}

input {
  width: 100%;
  margin: 0;
}
