.commentCardMainContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.commentCardContainer {
  display: flex;
  gap: 0.5rem;
}

.commentUsername {
  width: 2.5rem;
  height: 2.5rem;
  background-color: CanvasText;
  border-radius: 50%;
}

.commentContent {
  width: 60%;
  margin: 0.25rem auto 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.75rem;
  font-weight: 700;
  word-break: break-all;
}

.commentContentSpan {
  font-weight: 400;
}

.commentCardButtons {
  margin: 0.5rem 0 0 2rem;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.likeCommentButton {
  width: max-content;
  padding: 0.25rem 0.5rem;
}

.likeCommentButton.liked {
  background-color: var(--pressed-bg);
  border-radius: 0.25rem;
  font-weight: 700;
}

.repliesContainer {
  margin-block: 2rem;
  margin-inline: 2rem 0;
}

.editCommentInput {
  width: 60%;
  margin: 0.25rem auto 0 0;
  font-size: 0.75rem;
}

.replyInput {
  font-size: 0.75rem;
}

.replyButtons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

@media (max-width: 1024px) {
  .repliesContainer {
    margin-block: 1rem;
    margin-inline: 1rem 0;
  }
}
